:root {
  --color-primary: #1b4332;
  --color-accent: #43aa8b;
  --color-accent-light: #7ae3c2;
  --color-text: #ffffff;

  --font-body: "Roboto", sans-serif;
  --font-title: "Italianno", cursive;

  --shadow-card: 0 10px 25px rgba(0,0,0,.2);
  --shadow-hover: 0 0 20px rgba(120,255,220,.6);
  
}

body {
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: 1.6;
}


.about-section {
  padding: 80px 0;
}

.titulo {
  font-family: var(--font-italianno);
  font-size: 64px;
  color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
}

.texto {
  font-size: 20px;
  margin-bottom: 24px;
}

.imagen {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  border: 3px solid var(--color-secondary);
}

/* ajustes responsivos */
@media (max-width: 992px) {
  .titulo {
    font-size: 48px;
  }

  .texto {
    text-align: center;
  }

  .imagen {
    max-width: 280px;
  }
}

/* Cards Team */

.formatoTarjetas {
  background-color: #1c2a2a;
  border: none;
  width: 260px;
  min-height: 350px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  transition: all 0.4s ease;
  color:white;
}

.formatoTarjetas:hover {
  transform: translateY(-8px);
  box-shadow: var(--shadow-card);
}

.team-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.animacionImg {
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.animacionImg:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-hover);
}

.formatoLogotipos {
  color: #43aa8b;
  font-size: 20px;
  transition: all 0.3s ease;
}

.formatoLogotipos:hover {
  color: var(color-accent-light);
  font-size: 10px;
}

.animacionImg {
  transition: all 0.4s ease;
  margin: auto;
}

.animacionImg:hover {
  box-shadow: 0 0 20px rgba(120, 255, 220, .6);
  margin: auto;
}

.card-role {
  color: var(color-accent-light);
  font-size: 16px;
  margin-bottom: 16px;
}
.team-section {
  padding: 40px 0 80px;
}

.card-description {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 0;
  transition: all 0.4s ease;
}

.formatoTarjetas:hover .card-description {
  max-height: 200px;
  opacity: 1;
  margin-top: 20px;
}
